<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf !=null} ? ${_csrf.token} : ''"/>
    <meta name="_csrf_header"  th:content="${_csrf !=null} ? ${_csrf.headerName} : ''"/>
    <title>机构管理</title>
    <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/plugin/zTree_v3/css/bootstrapStyle/bootstrapStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/common/dasui.css}">
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}

        @media  screen and (max-width: 1366px) {
            #area_tree{
                height:630px;
            }
        }
        .span-red{
            margin: 5px;
            color:red;
        }
    </style>
</head>
<body>
    <div class="layui-row" style="height: 100%;">
        <div class="layui-col-md3">
            <div class="layui-inline">
                <input type="text" class="layui-input" name="oneOrgName" id="oneOrgName" placeholder="请输入机构名称" autocomplete="off" style="width: 280px;">
            </div>
            <ul id="org_tree" class="ztree" style="overflow-y: auto;margin-top:5px;height: 100%;"></ul>
        </div>
        <div class="layui-col-md2">
            <div>　　　</div>
        </div>
        <div class="layui-col-md5" style="margin-top: 4%;">
            <form id="form1" class="layui-form">
                <input id="id" name="id" type="hidden"/>
                <!--第一行 -->
                <div  class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="span-red">*</span>机构名称</label>
                            <div class="layui-input-block">
                                <input type="text" id="orgName"  name="orgName"  lay-verify="required|dasLength" daslength="30" placeholder="请输入机构名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!--第二行 -->
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="span-red">*</span>机构编码</label>
                            <div class="layui-input-block">
                                <input type="text"  id="orgCode" name="orgCode"  lay-verify="required|dasLength" daslength="30" placeholder="请输入机构编码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第三行 -->
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label">父级机构</label>
                            <div class="layui-input-block">
                                <input type="hidden" id="parentCode" name="parentCode">
                                <input type="text" id="parentName"readonly  placeholder="请选择" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第四行 -->
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="span-red">*</span>所属地区</label>
                            <div class="layui-input-block">
                                <input type="hidden" id="areaCode" name="areaCode" >
                                <input type="text" id="areaName" readonly placeholder="请选择" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第四行-->
                <!--<div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="span-red">*</span>所属行业</label>
                            <div class="layui-input-block">
                                <select id="industryid" name="industryid">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- 第五行-->
                <div  class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label">机构地址</label>
                            <div class="layui-input-block">
                                <input type="text" id="orgAddress"  name="orgAddress"  lay-verify="dasLength" daslength="200" placeholder="请输入机构地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 第六行-->
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label">序号</label>
                            <div class="layui-input-block">
                                <input type="number"  id="sortNum" name="sortNum" placeholder="请输入序号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第七行-->
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <div class="layui-form-item">
                            <label class="layui-form-label">机构LOGO</label>
                            <div class="layui-input-block">
                                <input type="hidden" id="orgLogo" name="orgLogo">
                                <button type="button" class="layui-btn layui-btn-sm" id="orgLogoPlugin">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" style="width: 92px;height: 92px;margin: 0 10px 10px 0;" id="orglogoImg">
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第八行-->
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                 <button type="button"  class="layui-btn layui-btn-sm" lay-submit lay-filter="saveOrUpdate"
                                        sec:authorize="hasAnyAuthority('ADMIN_AUTH','INSERT_AUTH','UPDATE_AUTH')">保存</button>
                                <button type="button"  class="layui-btn layui-btn-sm layui-btn-danger" lay-submit lay-filter="deleteOne"
                                        sec:authorize="hasAnyAuthority('ADMIN_AUTH','DELETE_AUTH')">删除</button>
                                <button type="button" class="layui-btn layui-btn-sm" id="chongzhi">重置</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="layui-col-md2">
            <div>　　　</div>
        </div>
    </div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/js/common/layuiFromVerify.js}"></script>
<script th:src="@{/plugin/zTree_v3/js/jquery.ztree.all.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/sysManage/orgManage/orgManageList.js}"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>
</body>
</html>