<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf !=null} ? ${_csrf.token} : ''"/>
    <meta name="_csrf_header"  th:content="${_csrf !=null} ? ${_csrf.headerName} : ''"/>
    <title>任务管理</title>
    <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/common/dasui.css}">
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}

        @media  screen and (max-width: 1366px) {
            #area_tree{
                height:630px;
            }
        }
        .span-red{
            margin: 5px;
            color:red;
        }
    </style>
</head>
<body>
<div class="demoTable layui-form">
    任务名称：
    <div class="layui-inline">
        <input class="layui-input" name="quartzname" id="quartzname" autocomplete="off">
    </div>
    任务状态：
    <div class="layui-inline ">
        <select class="layui-select" name="running"  id="running">
            <option value=""></option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
    服务编码：
    <div class="layui-inline">
        <input class="layui-input" name="exp3" id="exp3" autocomplete="off">
    </div>
    <button class="layui-btn" onclick="search();" id="findBy">搜索</button>
    <button type="reset" class="layui-btn" id="chongzhi">重置</button>
</div>


<table class="layui-hide" id="quartzist" lay-filter="quartzTable"></table>

<script type="text/html" id="info_toolbar">
    <div class="layui-btn-container">
        <div class="layui-inline" title="新增" lay-event="add"
             sec:authorize="hasAnyAuthority('ADMIN_AUTH','INSERT_AUTH')">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>
        <div class="layui-inline" title="删除" lay-event="delete"
             sec:authorize="hasAnyAuthority('ADMIN_AUTH','DELETE_AUTH')">
            <i class="layui-icon layui-icon-delete"></i>
        </div>
    </div>
</script>

<script type="text/html" id="barQuartzlist">
    {{#  if(d.exp3 == d.exp4){ }}
        {{#  if(d.running == 1){ }}
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="changeRunning">禁用</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="changeRunning">启用</a>
        {{#  } }}
        <a class="layui-btn layui-btn-xs" lay-event="edit" sec:authorize="hasAnyAuthority('ADMIN_AUTH','UPDATE_AUTH')">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sec:authorize="hasAnyAuthority('ADMIN_AUTH','DELETE_AUTH')">删除</a>
    {{#  } }}
</script>

<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/plugin/layui/xm-select.js}"></script>
<script th:src="@{/js/common/layuiFromVerify.js}"></script>
<script th:src="@{/plugin/zTree_v3/js/jquery.ztree.all.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/quartzManage/quartzList.js}"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>
</body>
</html>