<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="utf-8" />
		<title>首页布局</title>
				<!-- basic styles -->
		<link th:href="@{/bootstrap/css/bootstrap.css}" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" href="../static/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" href="../static/assets/css/ace.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
	</head>
	<body>
		<form th:action="@{/logout}" method="post" id="logout">
		</form>
		<div class="navbar navbar-default" id="navbar">
			<div class="navbar-container" id="navbar-container">
				<div class="contentBigBox">
					<div id="headerNav">
						<h1>
							<img src="../static/image/logo.png" th:src="@{/image/logo.png}"/>
						</h1>
						<ul id="nav">
							<li class="navActive">
								<i class="icon-home"></i>
								<p>首页</p>
							</li>
							<li>
								<i class=" icon-road"></i>
								<p>预警预测</p>
							</li>
							<li>
								<i class=" icon-warning-sign"></i>
								<p>发布审批</p>
							</li>
							<li>
								<i class="icon-home"></i>
								<p>反馈评估</p>
							</li>
							<li>
								<i class="icon-dashboard"></i>
								<p>运行监控</p>
							</li>
							<li>
								<i class="icon-home"></i>
								<p>预警管理</p>
							</li>
							<li>
								<i class=" icon-tasks"></i>
								<p>综合业务</p>
							</li>
							<li>
								<i class="icon-cog"></i>
								<p>系统管理</p>
							</li>
						</ul>
						<div class="navTime">
							<ul>
								<li class="time">
									<p>2018年8月15日</p>
									<p>星期三</p>
								</li>
								<li class="userName">
									<!--<span>艾美儿，欢迎你！</span>-->
									<span sec:authentication="name"></span>
								</li>
								<li class="exit" onclick="logout();">
									<i class=" icon-signout"></i>
								</li>
								<li class="list" id="moreMenu">
									<i class="icon-th-list"></i>
								</li>
							</ul>
							<div id="userBox">
								<div class="userHeader">
									<i class="icon-user"></i>
									<!--<span>艾美儿，欢迎你！</span>-->
									<span sec:authentication="name"></span>
								</div>
								<div class="userList row">
									<div class="col-sm-3 leftList">
										<span class="headerTitle">最近常用</span>
										<div>
											<i class=" icon-lightbulb"></i>
											<span>我的首页</span>
										</div>
										<div>
											<i class=" icon-lightbulb"></i>
											<span>发布审批</span>
										</div>
										<div>
											<i class=" icon-lightbulb"></i>
											<span>裕兴监控</span>
										</div>
									</div>
									<div class="col-sm-9 rightList">
										<ul id="rightList">
											<li class="col-sm-6"  onmouseleave="funBoxLeve($(this))">
												<div class="item btn-primary">
													<i class=" icon-calendar"></i>
													<p>发布审批</p>
												</div>
												<div class="setings">
													<i class="icon-cog"></i>
													<ul onmouseleave="funLeve($(this))">
														<li onclick="smallBox($(this))">小型</li>
														<li onclick="bigBox($(this))">大型</li>
														<li class="colorItem">
															<i class="icon-angle-left"></i>&nbsp;颜色
															<div>
																<div class="btn-primary" onclick="setingColor($(this))"></div>
																<div class="btn-success"  onclick="setingColor($(this))"></div>
																<div class="btn-info"  onclick="setingColor($(this))"></div>
																<div class="btn-warning"  onclick="setingColor($(this))"></div>
																<div class="btn-danger"  onclick="setingColor($(this))"></div>
															</div>
														</li>
														<li onclick="removeThisBox($(this))" data-toggle="modal" data-target="#myModalremoveMenu">移除</li>
													</ul>
												</div>
											</li>
											<li class="col-sm-3" onmouseleave="funBoxLeve($(this))">
												<div class="item btn-success">
													<i class=" icon-qrcode"></i>
													<p>裕兴监控</p>
												</div>
												<div class="setings">
													<i class="icon-cog"></i>
													<ul onmouseleave="funLeve($(this))">
														<li onclick="smallBox($(this))">小型</li>
														<li onclick="bigBox($(this))">大型</li>
														<li class="colorItem">
															<i class="icon-angle-left"></i>&nbsp;颜色
															<div>
																<div class="btn-primary" onclick="setingColor($(this))"></div>
																<div class="btn-success"  onclick="setingColor($(this))"></div>
																<div class="btn-info"  onclick="setingColor($(this))"></div>
																<div class="btn-warning"  onclick="setingColor($(this))"></div>
																<div class="btn-danger"  onclick="setingColor($(this))"></div>
															</div>
														</li>
														<li onclick="removeThisBox($(this))" data-toggle="modal" data-target="#myModalremoveMenu">移除</li>
													</ul>
												</div>
											</li>
											<li class="col-sm-3" onmouseleave="funBoxLeve($(this))">
												<div class="item btn-info">
													<i class="icon-calendar"></i>
													<p>发布审批</p>
												</div>
												<div class="setings">
													<i class="icon-cog"></i>
													<ul onmouseleave="funLeve($(this))">
														<li onclick="smallBox($(this))">小型</li>
														<li onclick="bigBox($(this))">大型</li>
														<li class="colorItem">
															<i class="icon-angle-left"></i>&nbsp;颜色
															<div>
																<div class="btn-primary" onclick="setingColor($(this))"></div>
																<div class="btn-success"  onclick="setingColor($(this))"></div>
																<div class="btn-info"  onclick="setingColor($(this))"></div>
																<div class="btn-warning"  onclick="setingColor($(this))"></div>
																<div class="btn-danger"  onclick="setingColor($(this))"></div>
															</div>
														</li>
														<li onclick="removeThisBox($(this))" data-toggle="modal" data-target="#myModalremoveMenu">移除</li>
													</ul>
												</div>
											</li>
											<li class="col-sm-3" onmouseleave="funBoxLeve($(this))">
												<div class="item btn-warning">
													<i class=" icon-lightbulb"></i>
													<p>我的首页</p>
												</div>
												<div class="setings">
													<i class="icon-cog"></i>
													<ul onmouseleave="funLeve($(this))">
														<li onclick="smallBox($(this))">小型</li>
														<li onclick="bigBox($(this))">大型</li>
														<li class="colorItem">
															<i class="icon-angle-left"></i>&nbsp;颜色
															<div>
																<div class="btn-primary" onclick="setingColor($(this))"></div>
																<div class="btn-success"  onclick="setingColor($(this))"></div>
																<div class="btn-info"  onclick="setingColor($(this))"></div>
																<div class="btn-warning"  onclick="setingColor($(this))"></div>
																<div class="btn-danger"  onclick="setingColor($(this))"></div>
															</div>
														</li>
														<li onclick="removeThisBox($(this))" data-toggle="modal" data-target="#myModalremoveMenu">移除</li>
													</ul>
												</div>
											</li>
											<li class="col-sm-3" onmouseleave="funBoxLeve($(this))">
												<div class="item btn-danger">
													<i class=" icon-desktop"></i>
													<p>发布审批</p>
												</div>
												<div class="setings">
													<i class="icon-cog"></i>
													<ul onmouseleave="funLeve($(this))">
														<li onclick="smallBox($(this))">小型</li>
														<li onclick="bigBox($(this))">大型</li>
														<li class="colorItem">
															<i class="icon-angle-left"></i>&nbsp;颜色
															<div>
																<div class="btn-primary" onclick="setingColor($(this))"></div>
																<div class="btn-success"  onclick="setingColor($(this))"></div>
																<div class="btn-info"  onclick="setingColor($(this))"></div>
																<div class="btn-warning"  onclick="setingColor($(this))"></div>
																<div class="btn-danger"  onclick="setingColor($(this))"></div>
															</div>
														</li>
														<li onclick="removeThisBox($(this))" data-toggle="modal" data-target="#myModalremoveMenu">移除</li>
													</ul>
												</div>
											</li>
											<div class="col-sm-3 addItem">
												<div class="item"  data-toggle="modal" data-target="#myModalMenu">
													<i class="icon-plus"></i>
													<p>添加</p>
												</div>
											</div>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="javascript:;">
					<span class="menu-text"></span>
				</a>
				<div class="sidebar" id="sidebar">
					<ul class="nav nav-list" id="secondmenu">
						<li class="active">
							<a href="javascript:;">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="icon-text-width"></i>
								<span class="menu-text"> 文字排版 </span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> UI 组件 </span>
								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>组件
									</a>
								</li>

								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>按钮 &amp; 图表
									</a>
								</li>

								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>树菜单
									</a>
								</li>

								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>jQuery UI
									</a>
								</li>

								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>可拖拽列表
									</a>
								</li>

								<li>
									<a href="javascript:;" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>三级菜单
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="javascript:;">
												<i class="icon-leaf"></i>第一级
											</a>
										</li>

										<li>
											<a href="javascript:;" class="dropdown-toggle">
												<i class="icon-pencil"></i>第四级
												<b class="arrow icon-angle-down"></b>
											</a>

											<ul class="submenu">
												<li>
													<a href="javascript:;">
														<i class="icon-plus"></i>添加产品
													</a>
												</li>

												<li>
													<a href="javascript:;">
														<i class="icon-eye-open"></i>查看商品
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;" class="dropdown-toggle">
								<i class="icon-list"></i>
								<span class="menu-text"> 表格 </span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>
										简单 &amp; 动态
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<i class="icon-double-angle-right"></i>
										jqGrid plugin
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-calendar"></i>
								<span class="menu-text">
									日历
									<span class="badge badge-transparent tooltip-error">
										<i class="icon-warning-sign red bigger-130"></i>
									</span>
								</span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>
				</div>

				<div class="main-content">
					<div class="page-content" style="padding:0;" id="iframeBox">
						<iframe src="" frameborder="0" style="width:100%;height:100%;"></iframe>
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->
		
		
		<!--系统菜单-->
		<div class="modal fade" id="myModalremoveMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 300px;margin-top: 15%;">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="text-danger">确定移除（<span id="menuName"></span>）菜单么？</h4>
					</div>
					<div class="modal-footer center">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary btn-sm" id="removeThisMeun" data-dismiss="modal">移除</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModalMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 300px;margin-top: 15%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 25px;">
							&times;
						</button>
						<h4 class="modal-title">
							添加常用菜单
						</h4>
					</div>
					<div class="modal-body">
						<div class="center">
							<button type="button" class="btn btn-primary btn-sm" style="margin: 0 5px;" data-dismiss="modal" data-toggle="modal" data-target="#myModalSystemMenu">系统菜单</button>
							<button type="button" class="btn btn-primary btn-sm" style="margin: 0 5px;" data-dismiss="modal" data-toggle="modal" data-target="#myModalCustomMenu">自定义菜单</button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		
		<!--系统菜单-->
		<div class="modal fade" id="myModalSystemMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 65%;margin-top: 10%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 25px;">
							&times;
						</button>
						<h4 class="modal-title">
							系统菜单
						</h4>
					</div>
					<div class="modal-body">
						系统菜单
					</div>
					<div class="modal-footer center">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary btn-sm">添加</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		
		<!--自定义菜单-->
		<div class="modal fade" id="myModalCustomMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 400px;margin-top: 10%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 25px;">
							&times;
						</button>
						<h4 class="modal-title">
							请输入自定义菜单标题及网址
						</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="uname" class="col-sm-3 control-label">标题</label>
                                <div class="col-sm-8">
                                    <input type="text"  class="form-control well" placeholder="请输入网址"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="upwd" class="col-sm-3 control-label">网址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control well" placeholder="请输入网址"/>
                                </div>
                            </div>
                        </form>
					</div>
					<div class="modal-footer center">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary btn-sm">添加</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		<script th:src="@{/assets/js/jquery-1.10.2.min.js}" src="../static/assets/js/jquery-1.10.2.min.js"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../static/bootstrap/js/bootstrap.min.js"></script>
		<script th:src="@{/assets/js/ace.min.js}" src="../static/assets/js/ace.min.js"></script>
		<script th:src="@{/assets/js/ace-extra.min.js}" src="../static/assets/js/ace-extra.min.js"></script>
		<script th:src="@{/js/Sortable.min.js}" src="../static/js/Sortable.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('#iframeBox').css('height',$(window).height()-55);   // iframe高度
			
			$(window).resize(function () {
                $('#iframeBox').css('height',$(window).height()-55);   // iframe高度
            });
			
			$("#nav li").on('click',function(){
				$(this).addClass('navActive').siblings().removeClass('navActive');  // 头部导航切换效果
			});
			
			var bar = document.getElementById("rightList");
			Sortable.create(bar, {group: 'shared',onEnd:function(){
					//  拖拽排序回调函数
			}});
			
			$(".setings i").on('click',function(){
				$(this).next().fadeIn();
			});
			
			function funLeve(ev){
				ev.hide();
			};
			function funBoxLeve(ev){
				ev.children('.setings').children('ul').hide();
			};
			
			function setingColor(ev){          //调整颜色
				ev.parents('.setings').prev().attr('class','');
				ev.parents('.setings').prev().addClass('item');
				ev.parents('.setings').prev('.item').addClass(ev.attr('class'));
			};
			
			function smallBox(ev){             // 小型
				ev.parents('.setings').parent().removeClass('col-md-6');
				ev.parents('.setings').parent().addClass('col-md-3');
			};
			function bigBox(ev){              // 大型
				ev.parents('.setings').parent().removeClass('col-md-3');
				ev.parents('.setings').parent().addClass('col-md-6');
			};
			
			
			var elementHtml;
			function removeThisBox(ev){  //删除
				elementHtml = ev.parents('.setings').parent();
				var menuName = ev.parents('.setings').prev().children('p').text();
				$("#menuName").text(menuName);
			};
			$('#removeThisMeun').on('click',function(){
				elementHtml.remove();
			});
			
			
			$('#moreMenu').on('click',function(){   // 右侧点击更多导航
				$('#userBox').fadeToggle(200);
			});
			
			function logout(){
			    $("#logout").submit();
			}
		</script>
</body>
</html>

