<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.colin.mapper.sysManage.SysRoleMapper">
    <resultMap id="BaseResultMap" type="cn.net.colin.model.sysManage.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_attr" jdbcType="INTEGER" property="roleAttr"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="role_status" jdbcType="INTEGER" property="roleStatus"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sort_num" jdbcType="INTEGER" property="sortNum"/>
    </resultMap>
    <resultMap id="BaseResultMapExt" type="cn.net.colin.model.sysManage.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_attr" jdbcType="INTEGER" property="roleAttr"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="role_status" jdbcType="INTEGER" property="roleStatus"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sort_num" jdbcType="INTEGER" property="sortNum"/>
        <result column="orgName" jdbcType="VARCHAR" property="orgName"/>
        <result column="areaName" jdbcType="VARCHAR" property="areaName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_code, role_name, role_attr, org_code, area_code, role_status, create_user, 
    create_time, sort_num
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List"/>
        ,CASE role_attr
        WHEN 0 THEN ''
        ELSE
          (select sog.org_name from sys_org sog where sog.org_code = sr.org_code)
        END as orgName,
        (select sa.area_name from sys_area sa where sa.area_code = sr.area_code) as areaName
        from sys_role sr
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id in(
        select role_id from sys_user_role where user_id = #{userid,jdbcType=BIGINT}
        )
        and role_status = 1
    </select>

  <select id="selectRoleNumByAreaCode" resultType="java.lang.Integer">
    SELECT COUNT(id) roleNum FROM sys_role WHERE area_code = #{areaCode,jdbcType=VARCHAR}
  </select>

    <select id="selectRoleNumByOrgCode" resultType="java.lang.Integer">
      SELECT COUNT(id) roleNum FROM sys_role WHERE org_code = #{orgCode,jdbcType=VARCHAR}
    </select>

    <select id="selectByParams" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List"/>
        ,CASE role_attr
        WHEN 0 THEN ''
        ELSE
          (select sog.org_name from sys_org sog where sog.org_code = sr.org_code)
        END as orgName,
        (select sa.area_name from sys_area sa where sa.area_code = sr.area_code) as areaName
        from sys_role sr
        <where>
            <if test="roleName != null and roleName != ''.toString()">
                and role_name like '%${roleName}%'
            </if>
            <if test="areaCode != null and areaCode != ''.toString()">
                and area_code = #{areaCode,jdbcType=VARCHAR}
            </if>
            <if test="orgCode != null and orgCode != ''.toString()">
                and ((org_code = #{orgCode,jdbcType=VARCHAR} and role_attr = 1) or role_attr = 0)
            </if>
            <if test="areaList != null and areaList.size() > 0">
                and
                <foreach collection="areaList" item="areasItem" open="(" separator="or" close=")">
                    area_code IN
                    <foreach collection="areasItem" item="treeNode" open="(" separator="," close=")">
                        #{treeNode.id}
                    </foreach>
                </foreach>
            </if>
        </where>
        order by sort_num asc,create_time desc
    </select>
    <select id="selectMenuIdsByRoleId" resultType="java.lang.String">
        select modulelist_id from sys_role_modulelist where role_id = #{roleId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteRoleOperatetypeByRoleid">
        delete from sys_role_operatetype where role_id = #{roleid,jdbcType=BIGINT}
    </delete>
    <delete id="deleteBatchByPrimaryKey">
        delete from sys_role where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteRoleAndPermissions">
        delete from sys_role_operatetype where role_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteRoleModulelistByModuleListid">
        delete from sys_role_modulelist where modulelist_id = #{moduleListId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteRoleModulelistByRoleIds">
        delete from sys_role_modulelist where role_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteRoleAndUserByRoleIds">
        delete from sys_user_role where role_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteUserAndRoleByUserId">
        delete from sys_user_role where user_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteUserAndRoleByRoleIdAndUserIds">
        delete from sys_user_role where role_id = #{roleid,jdbcType=BIGINT}
        and user_id in
        <foreach collection="users" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <insert id="insert" parameterType="cn.net.colin.model.sysManage.SysRole">
    insert into sys_role (id, role_code, role_name, 
      role_attr, org_code, area_code, 
      role_status, create_user, create_time, 
      sort_num)
    values (#{id,jdbcType=BIGINT}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleAttr,jdbcType=INTEGER}, #{orgCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{roleStatus,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{sortNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="cn.net.colin.model.sysManage.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleAttr != null">
                role_attr,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="roleStatus != null">
                role_status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="sortNum != null">
                sort_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleAttr != null">
                #{roleAttr,jdbcType=INTEGER},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="roleStatus != null">
                #{roleStatus,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sortNum != null">
                #{sortNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_role (id, role_code, role_name,
        role_attr, org_code, area_code,
        role_status, create_user, create_time,
        sort_num)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.roleCode,jdbcType=VARCHAR}, #{item.roleName,jdbcType=VARCHAR},
            #{item.roleAttr,jdbcType=INTEGER}, #{item.orgCode,jdbcType=VARCHAR}, #{item.areaCode,jdbcType=VARCHAR},
            #{item.roleStatus,jdbcType=INTEGER}, #{item.createUser,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.sortNum,jdbcType=INTEGER})
        </foreach>
    </insert>
    <insert id="insertBatchSelective" parameterType="java.util.List">
        insert into sys_role
        (id, role_code, role_name, role_attr, org_code, area_code, role_status, create_user,
        create_time, sort_num)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=BIGINT},
                </if>
                <if test="item.id == null">
                    NULL,
                </if>
                <if test="item.roleCode != null">
                    #{item.roleCode,jdbcType=VARCHAR},
                </if>
                <if test="item.roleCode == null">
                    NULL,
                </if>
                <if test="item.roleName != null">
                    #{item.roleName,jdbcType=VARCHAR},
                </if>
                <if test="item.roleName == null">
                    NULL,
                </if>
                <if test="item.roleAttr != null">
                    #{item.roleAttr,jdbcType=INTEGER},
                </if>
                <if test="item.roleAttr == null">
                    NULL,
                </if>
                <if test="item.orgCode != null">
                    #{item.orgCode,jdbcType=VARCHAR},
                </if>
                <if test="item.orgCode == null">
                    NULL,
                </if>
                <if test="item.areaCode != null">
                    #{item.areaCode,jdbcType=VARCHAR},
                </if>
                <if test="item.areaCode == null">
                    NULL,
                </if>
                <if test="item.roleStatus != null">
                    #{item.roleStatus,jdbcType=INTEGER},
                </if>
                <if test="item.roleStatus == null">
                    NULL,
                </if>
                <if test="item.createUser != null">
                    #{item.createUser,jdbcType=VARCHAR},
                </if>
                <if test="item.createUser == null">
                    NULL,
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime == null">
                    NULL,
                </if>
                <if test="item.sortNum != null">
                    #{item.sortNum,jdbcType=INTEGER},
                </if>
                <if test="item.sortNum == null">
                    NULL,
                </if>
            </trim>
        </foreach>
    </insert>
    <insert id="saveRoleOperatetypeList">
        insert into sys_role_operatetype (role_id, operateType_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.roleId,jdbcType=BIGINT}, #{item.operateTypeId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <insert id="insertRoleMenuBatch">
        insert into sys_role_modulelist (role_id, modulelist_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.roleId,jdbcType=BIGINT},#{item.moduleListId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <insert id="saveUserAndRoleList">
        insert into sys_user_role (user_id,role_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.net.colin.model.sysManage.SysRole">
        update sys_role
        <set>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleAttr != null">
                role_attr = #{roleAttr,jdbcType=INTEGER},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="roleStatus != null">
                role_status = #{roleStatus,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sortNum != null">
                sort_num = #{sortNum,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.net.colin.model.sysManage.SysRole">
    update sys_role
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_attr = #{roleAttr,jdbcType=INTEGER},
      org_code = #{orgCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      role_status = #{roleStatus,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sort_num = #{sortNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        update sys_role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.roleCode}
                </foreach>
            </trim>
            <trim prefix="role_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.roleName}
                </foreach>
            </trim>
            <trim prefix="role_attr =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.roleAttr}
                </foreach>
            </trim>
            <trim prefix="org_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.orgCode}
                </foreach>
            </trim>
            <trim prefix="area_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.areaCode}
                </foreach>
            </trim>
            <trim prefix="role_status =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.roleStatus}
                </foreach>
            </trim>
            <trim prefix="create_user =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="sort_num =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.sortNum}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
        update sys_role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.roleCode != null ">
                        when #{item.id} then #{item.roleCode}
                    </if>
                    <if test="item.roleCode == null ">
                        when #{item.id} then sys_role.role_code
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.roleName != null ">
                        when #{item.id} then #{item.roleName}
                    </if>
                    <if test="item.roleName == null ">
                        when #{item.id} then sys_role.role_name
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_attr =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.roleAttr != null ">
                        when #{item.id} then #{item.roleAttr}
                    </if>
                    <if test="item.roleAttr == null ">
                        when #{item.id} then sys_role.role_attr
                    </if>
                </foreach>
            </trim>
            <trim prefix="org_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.orgCode != null ">
                        when #{item.id} then #{item.orgCode}
                    </if>
                    <if test="item.orgCode == null ">
                        when #{item.id} then sys_role.org_code
                    </if>
                </foreach>
            </trim>
            <trim prefix="area_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.areaCode != null ">
                        when #{item.id} then #{item.areaCode}
                    </if>
                    <if test="item.areaCode == null ">
                        when #{item.id} then sys_role.area_code
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_status =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.roleStatus != null ">
                        when #{item.id} then #{item.roleStatus}
                    </if>
                    <if test="item.roleStatus == null ">
                        when #{item.id} then sys_role.role_status
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.createUser != null ">
                        when #{item.id} then #{item.createUser}
                    </if>
                    <if test="item.createUser == null ">
                        when #{item.id} then sys_role.create_user
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.createTime != null ">
                        when #{item.id} then #{item.createTime}
                    </if>
                    <if test="item.createTime == null ">
                        when #{item.id} then sys_role.create_time
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort_num =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.sortNum != null ">
                        when #{item.id} then #{item.sortNum}
                    </if>
                    <if test="item.sortNum == null ">
                        when #{item.id} then sys_role.sort_num
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="updateAreaCode">
    UPDATE sys_role SET area_code = #{newCode,jdbcType=VARCHAR} WHERE area_code = #{areaCode,jdbcType=VARCHAR}
  </update>
    <update id="updateOrgCode">
        UPDATE sys_role SET org_code = #{newCode,jdbcType=VARCHAR} WHERE org_code = #{orgCode,jdbcType=VARCHAR}
    </update>
</mapper>