<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.colin.mapper.sysManage.SysUserMapper">
    <resultMap id="BaseResultMap" type="cn.net.colin.model.sysManage.SysUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <!--<result column="admin_flag" jdbcType="INTEGER" property="adminFlag" />-->
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_gender" jdbcType="INTEGER" property="userGender"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="BaseResultMapExt" type="cn.net.colin.model.sysManage.SysUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <!--<result column="admin_flag" jdbcType="INTEGER" property="adminFlag" />-->
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_gender" jdbcType="INTEGER" property="userGender"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="orgName" jdbcType="VARCHAR" property="orgName"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, login_name, password/*, admin_flag*/, user_name, user_gender, phone_number, user_email,
    org_code,head_img, last_login_time, last_login_ip,user_status, create_user, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List"/>
        ,(select sog.org_name from sys_org sog where sog.org_code = ssu.org_code) as orgName
        from sys_user ssu
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selective" parameterType="cn.net.colin.model.sysManage.SysUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            <if test="loginName != null">
                and login_name = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                and user_name like '%${userName}%'
            </if>
        </where>
    </select>
    <select id="selectUserNumByOrgCode" resultType="java.lang.Integer">
        select count(id) userNum from sys_user WHERE org_code = #{orgCode,jdbcType=VARCHAR}
    </select>
    <select id="selectByParams" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List"/>
        ,(select sog.org_name from sys_org sog where sog.org_code = ssu.org_code) as orgName
        from sys_user ssu
        <where>
            <if test="userName != null and userName != ''.toString()">
                and user_name like '%${userName}%'
            </if>
            <if test="orgCode != null and orgCode != ''.toString()">
                and org_code = #{orgCode,jdbcType=VARCHAR}
            </if>
            <if test="orgList != null and orgList.size() > 0">
                and
                <foreach collection="orgList" item="orgItems" open="(" separator="or" close=")">
                    org_code IN
                    <foreach collection="orgItems" item="treeNode" open="(" separator="," close=")">
                        #{treeNode.id}
                    </foreach>
                </foreach>
            </if>
            <if test="roleIdNotBind != null">
                and id not in(
                  select user_id from sys_user_role where role_id = #{roleIdNotBind,jdbcType=BIGINT}
                )
            </if>
        </where>
    </select>
    <select id="selectUserListByRoleId" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List"/>
        ,(select sog.org_name from sys_org sog where sog.org_code = ssu.org_code) as orgName
        from sys_user ssu
        where id in(
          select user_id from sys_user_role where role_id = #{roleId,jdbcType=BIGINT}
        )
        order by id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteBatchByPrimaryKey">
        delete from sys_user where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <insert id="insert" parameterType="cn.net.colin.model.sysManage.SysUser">
    insert into sys_user (id, login_name, password, 
      /*admin_flag, */user_name, user_gender,
      phone_number, user_email, org_code,head_img,
      last_login_time, last_login_ip,user_status, create_user,
      create_time)
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      /*#{adminFlag,jdbcType=INTEGER},*/ #{userName,jdbcType=VARCHAR}, #{userGender,jdbcType=INTEGER},
      #{phoneNumber,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR},
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR},#{userStatus,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="cn.net.colin.model.sysManage.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <!--<if test="adminFlag != null">
              admin_flag,
            </if>-->
            <if test="userName != null">
                user_name,
            </if>
            <if test="userGender != null">
                user_gender,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <!--<if test="adminFlag != null">
              #{adminFlag,jdbcType=INTEGER},
            </if>-->
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userGender != null">
                #{userGender,jdbcType=INTEGER},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_user (id, login_name, password,
        /*admin_flag,*/ user_name, user_gender,
        phone_number, user_email, org_code,head_img,
        last_login_time, last_login_ip, user_status,
        create_user, create_time)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.loginName,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR},
            /*#{item.adminFlag,jdbcType=INTEGER},*/ #{item.userName,jdbcType=VARCHAR},
            #{item.userGender,jdbcType=INTEGER},
            #{item.phoneNumber,jdbcType=VARCHAR}, #{item.userEmail,jdbcType=VARCHAR}, #{item.orgCode,jdbcType=VARCHAR},
            #{headImg,jdbcType=VARCHAR},#{item.lastLoginTime,jdbcType=TIMESTAMP}, #{item.lastLoginIp,jdbcType=VARCHAR},
            #{userStatus,jdbcType=INTEGER},
            #{item.createUser,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertBatchSelective" parameterType="java.util.List">
        insert into sys_user
        (id, login_name, password, /*admin_flag,*/ user_name, user_gender, phone_number, user_email,
        org_code,head_img,last_login_time, last_login_ip,user_status, create_user, create_time)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=BIGINT},
                </if>
                <if test="item.id == null">
                    NULL,
                </if>
                <if test="item.loginName != null">
                    #{item.loginName,jdbcType=VARCHAR},
                </if>
                <if test="item.loginName == null">
                    NULL,
                </if>
                <if test="item.password != null">
                    #{item.password,jdbcType=VARCHAR},
                </if>
                <if test="item.password == null">
                    NULL,
                </if>
                <!--<if test="item.adminFlag != null">
                  #{item.adminFlag,jdbcType=INTEGER},
                </if>
                <if test="item.adminFlag == null">
                  NULL,
                </if>-->
                <if test="item.userName != null">
                    #{item.userName,jdbcType=VARCHAR},
                </if>
                <if test="item.userName == null">
                    NULL,
                </if>
                <if test="item.userGender != null">
                    #{item.userGender,jdbcType=INTEGER},
                </if>
                <if test="item.userGender == null">
                    NULL,
                </if>
                <if test="item.phoneNumber != null">
                    #{item.phoneNumber,jdbcType=VARCHAR},
                </if>
                <if test="item.phoneNumber == null">
                    NULL,
                </if>
                <if test="item.userEmail != null">
                    #{item.userEmail,jdbcType=VARCHAR},
                </if>
                <if test="item.userEmail == null">
                    NULL,
                </if>
                <if test="item.orgCode != null">
                    #{item.orgCode,jdbcType=VARCHAR},
                </if>
                <if test="item.orgCode == null">
                    NULL,
                </if>
                <if test="item.headImg != null">
                    #{item.headImg,jdbcType=VARCHAR},
                </if>
                <if test="item.headImg == null">
                    NULL,
                </if>
                <if test="item.lastLoginTime != null">
                    #{item.lastLoginTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.lastLoginTime == null">
                    NULL,
                </if>
                <if test="item.lastLoginIp != null">
                    #{item.lastLoginIp,jdbcType=VARCHAR},
                </if>
                <if test="item.lastLoginIp == null">
                    NULL,
                </if>
                <if test="item.userStatus != null">
                    #{userStatus,jdbcType=INTEGER},
                </if>
                <if test="item.userStatus == null">
                    0,
                </if>
                <if test="item.createUser != null">
                    #{item.createUser,jdbcType=VARCHAR},
                </if>
                <if test="item.createUser == null">
                    NULL,
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime == null">
                    NULL,
                </if>
            </trim>
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.net.colin.model.sysManage.SysUser">
        update sys_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <!--      <if test="adminFlag != null">
                    admin_flag = #{adminFlag,jdbcType=INTEGER},
                  </if>-->
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userGender != null">
                user_gender = #{userGender,jdbcType=INTEGER},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.net.colin.model.sysManage.SysUser">
    update sys_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      /*admin_flag = #{adminFlag,jdbcType=INTEGER},*/
      user_name = #{userName,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="login_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.loginName}
                </foreach>
            </trim>
            <trim prefix="password =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.password}
                </foreach>
            </trim>
            <!--      <trim prefix="admin_flag =case id" suffix="end,">
                    <foreach collection="list" index="index" item="item" separator=" ">
                      when  #{item.id} then #{item.adminFlag}
                    </foreach>
                  </trim>-->
            <trim prefix="user_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.userName}
                </foreach>
            </trim>
            <trim prefix="user_gender =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.userGender}
                </foreach>
            </trim>
            <trim prefix="phone_number =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.phoneNumber}
                </foreach>
            </trim>
            <trim prefix="user_email =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.userEmail}
                </foreach>
            </trim>
            <trim prefix="org_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.orgCode}
                </foreach>
            </trim>
            <trim prefix="last_login_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.lastLoginTime}
                </foreach>
            </trim>
            <trim prefix="last_login_ip =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.lastLoginIp}
                </foreach>
            </trim>
            <trim prefix="user_status =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{userStatus}
                </foreach>
            </trim>
            <trim prefix="create_user =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    when #{item.id} then #{item.createTime}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="login_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.loginName != null ">
                        when #{item.id} then #{item.loginName}
                    </if>
                    <if test="item.loginName == null ">
                        when #{item.id} then sys_user.login_name
                    </if>
                </foreach>
            </trim>
            <trim prefix="password =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.password != null ">
                        when #{item.id} then #{item.password}
                    </if>
                    <if test="item.password == null ">
                        when #{item.id} then sys_user.password
                    </if>
                </foreach>
            </trim>
            <!--      <trim prefix="admin_flag =case id" suffix="end,">
                    <foreach collection="list" index="index" item="item" separator=" ">
                      <if test="item.adminFlag != null ">
                        when  #{item.id} then #{item.adminFlag}
                      </if>
                      <if test="item.adminFlag == null ">
                        when  #{item.id} then sys_user.admin_flag
                      </if>
                    </foreach>
                  </trim>-->
            <trim prefix="user_name =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.userName != null ">
                        when #{item.id} then #{item.userName}
                    </if>
                    <if test="item.userName == null ">
                        when #{item.id} then sys_user.user_name
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_gender =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.userGender != null ">
                        when #{item.id} then #{item.userGender}
                    </if>
                    <if test="item.userGender == null ">
                        when #{item.id} then sys_user.user_gender
                    </if>
                </foreach>
            </trim>
            <trim prefix="phone_number =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.phoneNumber != null ">
                        when #{item.id} then #{item.phoneNumber}
                    </if>
                    <if test="item.phoneNumber == null ">
                        when #{item.id} then sys_user.phone_number
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_email =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.userEmail != null ">
                        when #{item.id} then #{item.userEmail}
                    </if>
                    <if test="item.userEmail == null ">
                        when #{item.id} then sys_user.user_email
                    </if>
                </foreach>
            </trim>
            <trim prefix="org_code =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.orgCode != null ">
                        when #{item.id} then #{item.orgCode}
                    </if>
                    <if test="item.orgCode == null ">
                        when #{item.id} then sys_user.org_code
                    </if>
                </foreach>
            </trim>
            <trim prefix="last_login_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.lastLoginTime != null ">
                        when #{item.id} then #{item.lastLoginTime}
                    </if>
                    <if test="item.lastLoginTime == null ">
                        when #{item.id} then sys_user.last_login_time
                    </if>
                </foreach>
            </trim>
            <trim prefix="last_login_ip =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.lastLoginIp != null ">
                        when #{item.id} then #{item.lastLoginIp}
                    </if>
                    <if test="item.lastLoginIp == null ">
                        when #{item.id} then sys_user.last_login_ip
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_status =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.userStatus != null ">
                        when #{item.id} then #{item.userStatus}
                    </if>
                    <if test="item.userStatus == null ">
                        when #{item.id} then sys_user.user_status
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.createUser != null ">
                        when #{item.id} then #{item.createUser}
                    </if>
                    <if test="item.createUser == null ">
                        when #{item.id} then sys_user.create_user
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time =case id" suffix="end,">
                <foreach collection="list" index="index" item="item" separator=" ">
                    <if test="item.createTime != null ">
                        when #{item.id} then #{item.createTime}
                    </if>
                    <if test="item.createTime == null ">
                        when #{item.id} then sys_user.create_time
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="updatePwdByUserIds">
        update sys_user set password = #{password,jdbcType=VARCHAR} where id in
        <foreach collection="userIds" open="(" separator="," close=")" item="id">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>