<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf !=null} ? ${_csrf.token} : ''"/>
    <meta name="_csrf_header"  th:content="${_csrf !=null} ? ${_csrf.headerName} : ''"/>
    <title>文章浏览</title>
    <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/backpage.css}" type="text/css">
    <style type="text/css">
        *{margin:0;padding:0 5;}

        .contentdiv{width:800px;
            height:200px;
            margin:100px auto;

        }
        abbr{text-decoration:none;
            color:#52f7f2;
        }
    </style>
</head>
<body>
<div class="contentdiv" >
    <input type="hidden" id="sysUserId" th:value="${#authentication.principal == 'anonymousUser' ? '' : #authentication.principal.id}"/>
    <input type="hidden" id="articleUserId" th:value="${articleInfo.userId}"/>
    <input type="hidden" id="articleId" th:value="${articleInfo.id}"/>
    <h1 style="font-family:'楷体';" th:text="${articleInfo.infoTitle}"></h1>
    <p class="cssp" style="color:#ccc;padding: 8px 0;">
        <abbr title="" th:text="${articleInfo.publishUser.userName}">&nbsp;&nbsp;</abbr>
        <span th:text="${#dates.format(articleInfo.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
        &nbsp;&nbsp;阅读量:<span style="color: #52f7f2;" th:text="${articleInfo.infoAmount}"></span>
        <a href="javascript:void(0);" class="date-dz-z" style="float: right !important;line-height:17px;"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a>
    </p>
    <p class="cssp"style="background:#f2f2f2;width:800px;line-height:35px;"><b>摘要:</b> [[${articleInfo.infoAbstract}]] </p>

    <div id="infoContent" style="margin-top: 20px;">
        [(${articleInfo.infoContent})]
        <p>
            <br/>
        </p>
    </div>

    <div class="tosub_me_out">
        <textarea class="tosub_metext" id="container" name="content" cols="30" rows="10" placeholder=""></textarea>
        <div class="sub_btn" onclick="publish_content()">评论</div>
    </div>
    <div class="back_page_btm" id="divHtml">
        <div class="sub_back sub_back" th:each="list:${listComment}">
            <div class="left_user">
                <img id="avatar" th:src="@{/{headImg}(headImg=${list.fromUser.headImg})}" style="border-radius: 50%;width: 50px;height: 50px;margin-top: 5px;cursor: pointer;">
            </div>
            <div class="right_usertext">
                <div class="txt_ input_border"><span class="comment-size-name">[[${list.fromUser.userName}]]:</span><span class="my-pl-con">[[${list.commentContent }]]</span></div>
                <div class="time_">
                    <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == list.fromUserId || #authentication.principal.id == articleInfo.userId}" style="cursor: pointer;" th:data-id="${list.id}" onclick="del(this.getAttribute('data-id'))" >删除</span><span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == list.fromUserId || #authentication.principal.id == articleInfo.userId}" class="date-dz-line">|</span>
                    <span class="span_03 callback_ " style="cursor: pointer;" onclick="reply1(this,this.getAttribute('data-id'),this.getAttribute('data-fromUser'));" th:data-id="${list.id}" th:data-fromUser="${list.fromUserId}">回复</span>
                    <span class="span_04" th:id="'span'+${list.id}">([[${list.childList.size()}]])</span>
                    <span class="span_02" th:text="${#dates.format(list.commentTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span class="date-dz-line" style="cursor: pointer;display:none" onclick="retract(this);">收起</span>
                    <div class="tosub_back ">
                        <div class="tosub_me" style="position: relative">
                            <div class="tosub_text" th:each="childlist:${list.childList}">
                                <p class="tosub_txt">
                                    <span class="sub_user">[[${childlist.fromUser.userName}]]：</span>回复
                                    <span class="sub_user">@[[${childlist.toUser.userName}]]:</span> [[${childlist.commentContent}]]
                                </p>
                                <div class="sub_time">
                                    <span class="span_02">[[${#dates.format(childlist.commentTime,'yyyy-MM-dd HH:mm:ss')}]]</span>
                                    <span class="sub_callback" th:data-id="${childlist.id}" th:data-fromUser="${childlist.fromUserId}" onclick="reply2(this,this.getAttribute('data-id'),this.getAttribute('data-fromUser'));">回复</span>
                                    <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == childlist.fromUserId || #authentication.principal.id == articleInfo.userId}" class="delec" th:data-id="${list.id}" th:data-childid="${childlist.id}" th:data-listFromUserId="${list.fromUserId}" onclick="delChild(this.getAttribute('data-childid'),this.getAttribute('data-id'),this,this.getAttribute('data-listFromUserId'));">|删除</span>
                                </div>
                            </div>
                            <textarea class="tosub_metext" th:keyid="${list.id}" th:uid="${list.fromUserId}" cols="30" rows="10" placeholder=""></textarea>
                            <div style="cursor: pointer;" class="sub_btn sub_publish" th:data-fromUser="${list.fromUserId}"  th:data-id="${list.id}" onclick="publish(this,this.getAttribute('data-fromUser'),this.getAttribute('data-id'));">回复</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1></h1>
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/articleManage/articleView.js}"></script>
<script th:src="@{/plugin/ueditor/ueditor.parse.js}"></script>
<script>
    setTimeout(function(){uParse('#infoContent',
        {
            'highlightJsUrl':Common.ctxPath+'/plugin/ueditor/third-party/SyntaxHighlighter/shCore.js',
            'highlightCssUrl':Common.ctxPath+'/plugin/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css'})
    },300);
</script>
</body>
